<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Client List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Sr</th>
            <th>Role Name</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        Client List
      </div>
      <div class="card-body">
     <div class="row">
       <div class="col-6">
         <label for="">Person Name</label>
         <input type="text" name="" id="">
       </div><div class="col-6">
         <label for="">Company Name</label>
         <input type="text" name="" id="">
       </div><div class="col-6">
         <label for="">City</label>
         <input type="text" name="" id="">
       </div><div class="col-6">
         <label for="">State</label>
         <input type="text" name="" id="">
       </div><div class="col-6">
         <label for="">Pincode</label>
         <input type="text" name="" id="">
       </div><div class="col-6">
         <label for="">Address</label>
        <textarea></textarea>
       </div><div class="col-6">
         <label for="">Employee Strength</label>
         <input type="text" name="" id="">
       </div>
     </div>
      </div>
    </div>
  </div>
</div>
